{% extends "layouts/layouts_green.html" %}
{% block body %}
<h1 class="display-1">STOCKS PAGE</h1>
<p class="lead">This is page where you can see all KOSPI stocks.</p>
<hr class="my-4">
<div>
{#    <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>#}
{#    <a class="btn btn-success btn-lg" href="/about" role="button">ABOUT ME</a>#}
{#    <a class="btn btn-warning btn-lg" href="/articles" role="button">ARTICLES</a>#}
{#    <a class="btn btn-danger btn-lg" href="/graphes" role="button">GRAPHES</a>#}
</div>

<p></p>

<div class="card mb-4">
    <div class="card-header" style="float: left">
        <div>
            <h3>
                {% if area == 'all' %}
                    There are {{ stocksize }} stocks total
                {% elif area == 'search' %}
                    There are {{ stocksize }} stocks match '{{ search }}'
                {% else %}
                    There are {{ stocksize }} stocks in {{ area }}
                {% endif %}
            </h3>
        </div>
        <div class="btn-group" style="float: right; width: 10%">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Areas
            </button>
                <div class="dropdown-menu" style="max-height: 280px; overflow-y: auto">
                    <a class="dropdown-item" href="/stocks/all/0">All</a>
                    <div class="dropdown-divider"></div>
                    {% for area in areas %}
                        <a class="dropdown-item" href="/stocks/{{ area[0] }}/0">{{ area[0] }}</a>
                    {% endfor %}

              </div>
        </div>
        <a class="btn btn-warning btn-md btn-block"
                    href="/stocks/all/0" role="button" style="width: 10%; float: right">
                    Reset
        </a>
        <form action="/stocks/search/0" method="POST">
            <div class="form-group" style="float: right; width: 10%">
                <input class="btn btn-primary btn-md btn-block" style="float: left" type="submit" value="Search" >
            </div>
            <div class="form-group" style="float: right; width: 40%">
                <input class="form-control" style="float: left" type="text" autocomplete="off" name='search' placeholder="Search" required>
            </div>

{#            <div class="form-group">#}
{#                <a class="btn btn-success btn-lg btn-block" href="/register"> REGISTER</a>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <a class="btn btn-outline-primary btn-lg btn-block" href="/guest"> GUEST LOGIN</a>#}
{#            </div>#}
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width: 10%">No.</th>
                        <th style="width: 15%">Stock No.</th>
                        <th style="width: 50%">Name</th>
                        <th style="width: 25%">Area</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in range(stocks|length) %}
                        <tr>
                            <th scope="row">{{ stock + 1 }}</th>
                            <td>{{ stocks[stock][2] }}</td>
                            <td><a href="/stock_graph/{{ stocks[stock][2] }}" target = _blank>{{ stocks[stock][1] }}</a></td>
                            <td>{{ stocks[stock][0] }}</td>
    {#                        <td><a href="https://comic.naver.com{{webtoon[2]}}" target = _blank>보러가기</a></td>#}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <h4>Page {{ page_num + 1 }} of {{ stocksize // 20 + 1 }}</h4>

    </div>
    <div class="card-footer">
        <ul class="pagination" style="float: left">
            <li class="active"><a class="page-link" href="/stocks/all/0">First</a></li>
            {% if page_num > 0 %}
                <li class="active"><a class="page-link" href="/stocks/all/{{ page_num - 1 }}">Previous</a></li>
            {% else %}
                <li class="disabled"><a class="page-link" href="#">Previous</a></li>
            {% endif %}
            {% for index in range(page_num - 4, page_num) %}
                {% if index >= 0 %}
                    <li class="active"><a class="page-link" href="/stocks/all/{{ index }}">{{ index + 1 }}</a></li>
                {% endif %}
            {% endfor %}
                <li class="disabled"><a class="page-link" href="#">{{ page_num + 1 }}</a></li>
            {% for index in range(page_num + 1, page_num + 5) %}
                {% if index <= stocksize // 20 %}
                    <li class="active"><a class="page-link" href="/stocks/all/{{ index }}">{{ index + 1 }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_num < stocksize // 20 %}
                <li class="active"><a class="page-link" href="/stocks/all/{{ page_num + 1 }}">Next</a></li>
            {% else %}
                <li class="disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}
            <li class="active"><a class="page-link" href="/stocks/all/{{ stocksize // 20 }}">Last</a></li>
        </ul>
        <div>
            <a class="btn btn-danger btn-md btn-block" onclick="return confirm('새로고침에는 시간이 많이 걸려요!')"
                href="/stocks/refresh" role="button" style="width: 20%; float: right">
                Refresh Database
            </a>
        </div>
        <div>
            <a class="btn btn-warning btn-md btn-block" onclick="return confirm('새로고침에는 시간이 많이 걸려요!')"
                href="/stocks/refresh_price" role="button" style="width: 20%; float: right">
                Refresh Prices
            </a>
        </div>
    </div>
</div>
    
{% endblock %}